{% extends "base.html" %}

{% block content %}
  <div class="flex flex-col items-center">
    <h1 class="text-xl font-semibold mb-6">{{ _('Reset Your Password') }}</h1>
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <div>
        {{ form.password.label(class="text-m")  }}<br>
        {{ form.password(class="w-96 px-4 py-2 rounded-md border border-gray-light text-gray-dark text-m") }}
        <div class="h-5">
          <span class="text-sm text-red">{{ "* {}".format(form.password.errors[0]) if form.password.errors[0] else '' }}</span>
        </div>
      </div>
      <div>
        {{ form.password_confirmation.label(class="text-m")  }}<br>
        {{ form.password_confirmation(class="w-96 px-4 py-2 rounded-md border border-gray-light text-gray-dark text-m") }}
        <div class="h-5">
          <span class="text-sm text-red">{{ "* {}".format(form.password_confirmation.errors[0]) if form.password_confirmation.errors[0] else '' }}</span>
        </div>
      </div>
      <div class="flex justify-center">{{ form.submit(class="min-w-40 bg-blue-light text-blue-dark rounded-md px-4 py-1 text-m") }}</div>
    </form>
  </div>
{% endblock %}
