{% macro get_link_style(endpoint) %}
  {{ request.endpoint == endpoint and 'text-blue' or 'text-gray-dark' }}
{% endmacro %}

<header class="px-8 py-4 shadow-md">
  <div class="mx-auto max-w-7xl">
    <nav>
      <ul class="flex items-center gap-6">
        <li class="mr-14">
          <a class="text-xl font-semibold" href="{{ url_for('main.index') }}">{{ _('Microblog') }}</a>
        </li>
        <li>
          <a class="{{ get_link_style('index') }}" href="{{ url_for('main.index') }}">{{ _('Home') }}</a>
        </li>
        {% if current_user.is_anonymous %}
          <li class="ml-auto">
            <a class="{{ get_link_style('login') }}" href="{{ url_for('auth.login') }}">{{ _('Login') }}</a>
          </li>
          <li>
            <a class="{{ get_link_style('register') }}" href="{{ url_for('auth.register') }}">{{ _('Register') }}</a>
          </li>
        {% else %}
          <li>
            <a class="{{ get_link_style('explore') }}" href="{{ url_for('main.explore') }}">{{ _('Explore') }}</a>
          </li>
          <li>
            {% if g.search_form %}
              <form class="mb-0" action="{{ url_for('main.search') }}" method="get" novalidate>
                <div>
                  {{ g.search_form.q(size=32, class="w-60 px-2 py-1 rounded-md border border-gray-light text-gray-dark text-m placeholder-gray", placeholder=g.search_form.q.label.text) }}
                </div>
              </form>
            {% endif %}
          </li>
          <li class="ml-auto">
            <a class="{{ get_link_style('user') }}" href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a>
          </li>
          <li>
            <a class="{{ get_link_style('logout') }}" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
