{% macro get_link_style(endpoint) %}
  {{ request.endpoint == endpoint and 'text-blue' or 'text-gray-dark' }}
{% endmacro %}

<header class="px-8 py-4 shadow-md">
  <div class="mx-auto flex items-center gap-20 max-w-7xl">
    <span class="text-xl font-semibold">Microblog</span>

    <nav>
      <ul class="flex gap-2">
        <li>
          <a class="{{ get_link_style('index') }}" href="{{ url_for('index') }}">Home</a>
        </li>
        {% if current_user.is_anonymous %}
          <li>
            <a class="{{ get_link_style('login') }}" href="{{ url_for('login') }}">Login</a>
          </li>
        {% else %}
          <li>
            <a class="{{ get_link_style('explore') }}" href="{{ url_for('explore') }}">Explore</a>
          </li>
          <li>
            <a class="{{ get_link_style('user') }}" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
          </li>
          <li>
            <a class="{{ get_link_style('logout') }}" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
