<div class="flex flex-col gap-1 p-4 rounded-md bg-gray-lightest">
  <a class="flex gap-2 items-center text-blue" href="{{ url_for('user', username=post.author.username) }}">
    <div class="w-6 h-6">
      <img style="border-radius: 50%" src="{{ post.author.avatar(24) }}" alt="{{ _('%(username)s\'s avatar', username=post.author.username) }}">
    </div>
    {{ post.author.username }}
  </a>

  <p id="post{{ post.id }}">{{ post.body }}</p>

  {% if post.language and post.language != g.local %}
    <a id="post{{ post.id }}_translation_handler" class="text-xs text-blue" href="javascript:translate(
                          '#post{{ post.id }}',
                          '#post{{ post.id }}_translation_handler',
                          '#post{{ post.id }}_show_original_handler',
                          '{{ post.language }}',
                          '{{ g.locale }}');">{{ _('Translate') }}</a>
  {% endif %}

  {% if post.language and post.language != g.local %}
    <a id="post{{ post.id }}_show_original_handler" class="text-xs text-blue hidden" href="javascript:show_original_text(
                          '#post{{ post.id }}',
                          '#post{{ post.id }}_translation_handler',
                          '#post{{ post.id }}_show_original_handler',
                          '{{ post.body }}');">{{ _('Show original text') }}</a>
  {% endif %}

  <p class="text-sm text-gray">{{ moment(post.timestamp).fromNow() }}</p>
</div>
