<html>
  <head>
    {% if title %}
      <title>{{ title }} - Microblog</title>
    {% else %}
      <title>Welcome to Microblog</title>
    {% endif %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', filename='js/tailwind_config.js') }}"></script>
  </head>
  <body>
    {% include "_header.html" %}

    {% include "_flashed_messages.html" %}

    <div class="px-8">
      <div class="mx-auto max-w-7xl">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
