<html>
  <head>
    {% if title %}
      <title>{{ _('%(title)s - Microblog', title=title) }}</title>
    {% else %}
      <title>{{ _('Welcome to Microblog') }}</title>
    {% endif %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', filename='js/tailwind_config.js') }}"></script>
  </head>
  <body>
    {% include "_header.html" %}

    {% include "_flashed_messages.html" %}

    <div class="px-8">
      <div class="mx-auto max-w-7xl">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>

{% block scripts %}
  {{ moment.include_moment() }}
  {{ moment.lang(g.locale) }}

  <script>
    async function translate(sourceElem, translationHandlerElem, showOriginalHandlerElem, sourceLang, targetLang) {
      const sourceElement = document.querySelector(sourceElem);
      const originalText = sourceElement.innerText;

      sourceElement.innerHTML = '<img src="{{ url_for('static', filename='loading.gif') }}">';

      const response = await fetch('/translate', {
        method: "POST",
        headers: {'Content-Type': 'application/json; charset=utf-8'},
        body: JSON.stringify({
          text: originalText,
          source_language: sourceLang,
          target_language: targetLang
        })
      })

      const data = await response.json();

      console.log(data)

      document.querySelector(sourceElem).innerText = data.text;
      document.querySelector(translationHandlerElem).classList.add('hidden');
      document.querySelector(showOriginalHandlerElem).classList.remove('hidden');
    }

    function show_original_text(sourceElem, translationHandlerElem, showOriginalHandlerElem, original_text) {
      console.log({sourceElem, translationHandlerElem, showOriginalHandlerElem, original_text})
      document.querySelector(sourceElem).innerText = original_text;
      document.querySelector(translationHandlerElem).classList.remove('hidden');
      document.querySelector(showOriginalHandlerElem).classList.add('hidden');
    }
  </script>
{% endblock %}
