{% extends "base.html" %}

{% block content %}
  <h1 class="text-xl font-semibold mb-6">Hi, {{ current_user.username }}!</h1>

  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.post.label }}<br>
      {{ form.post(cols=32, rows=4) }}<br>
      {% for error in form.post.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    {{ form.submit() }}
  </form>

  {% for post in posts %}
    {% include "_post.html" %}
  {% endfor %}

  <a href="{{ prev_url }}" class="{{ prev_url and 'link' or 'link_disabled' }}">Newer posts</a>
  <a href="{{ next_url }}" class="{{ next_url and 'link' or 'link_disabled' }}">Older posts</a>
{% endblock %}
