{% extends "base.html" %}

{% block content %}
  <div class="flex flex-col items-center">
    <h1 class="text-xl font-semibold mb-6">Sign In</h1>
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <div>
        {{ form.username.label(class="text-m") }}<br>
        {{ form.username(size=32, class="w-96 px-4 py-2 rounded-md border border-gray-light text-gray-dark text-m") }}<br>
        <div class="h-5">
          <span class="text-sm text-red">{{ "* {}".format(form.username.errors[0]) if form.username.errors[0] else '' }}</span>
        </div>
      </div>
      <div>
        {{ form.password.label(class="text-m") }}<br>
        {{ form.password(size=32, class="w-96 px-4 py-2 rounded-md border border-gray-light text-gray-dark text-m") }}<br>
        <div class="h-5">
          <span class="text-sm text-red">{{ "* {}".format(form.password.errors[0]) if form.password.errors[0] else '' }}</span>
        </div>
      </div>
      <div class="flex items-center gap-2 mb-5">{{ form.remember_me(class="w-4 h-4") }} {{ form.remember_me.label(class="text-m") }}</div>
      <div class="flex justify-center">{{ form.submit(class="min-w-40 bg-blue-light text-blue-dark rounded-md px-4 py-1 text-m") }}</div>
      <hr class="my-6 text-gray-light">
      <p class="text-m mb-2">New User? <a class="text-blue" href="{{ url_for('register') }}">Click to Register!</a></p>
      <p class="text-m">Did you forget your password? <a class="text-blue" href="{{ url_for('reset_password_request') }}">Click to reset it</a></p>
    </form>
  </div>
{% endblock %}
