{% extends "base.html" %}

{% block content %}
  <h1 class="text-xl font-semibold mb-6">Reset Your Password</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.password.label }}
      {{ form.password() }}
      {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password_confirmation.label }}
      {{ form.password_confirmation() }}
      {% for error in form.password_confirmation.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
