{% extends "base.html" %}

{%  block content %}
{#  <table>#}
{#    <tr style="vertical-align: top">#}
{#      <td><img style="border-radius: 50%" src="{{ user.avatar(128) }}" alt="{{ user.username }}'s avatar"></td>#}
{#      <td>#}
{#        <h1>User: {{ user.username }}</h1>#}
{#        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}#}
{#        {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}#}
{##}
{#        <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>#}
{##}
{#        {% if user == current_user %}#}
{#          <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>#}
{#        {% elif not current_user.is_following(user) %}#}
{#          <p><a href="{{ url_for('follow', username=user.username) }}">Follow</a></p>#}
{#        {% else %}#}
{#          <p><a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a></p>#}
{#        {% endif %}#}
{#      </td>#}
{#    </tr>#}
{#  </table>#}

  <div class="flex gap-6">
    <div class="w-32 h-32">
      <img style="border-radius: 50%" src="{{ user.avatar(128) }}" alt="{{ user.username }}'s avatar">
    </div>
    <div>
      <div class="mb-4">
        <h1 class="text-xl font-bold">{{ user.username }}</h1>
        {% if user.last_seen %}<p class="text-sm text-gray">Last seen on: {{ user.last_seen }}</p>{% endif %}
      </div>

      {% if user.about_me %}
        <div class="w-96 mb-4">
          <p>{{ user.about_me }}</p>
        </div>
      {% endif %}

      <div class="flex gap-6 mb-4">
        <p class="text-gray"><strong class="text-black">{{ user.followers.count() }}</strong> followers</p>
        <p class="text-gray"><strong class="text-black">{{ user.followed.count() }}</strong> following</p>
      </div>

      <div class="flex">
        {% if user == current_user %}
          <a href="{{ url_for('edit_profile') }}">
            <div class="text-center min-w-40 bg-blue-light text-blue-dark rounded-md px-4 py-1 text-m">Edit your profile</div>
          </a>
        {% elif not current_user.is_following(user) %}
          <a href="{{ url_for('follow', username=user.username) }}">
            <div class="text-center min-w-40 bg-blue-light text-blue-dark rounded-md px-4 py-1 text-m">Follow</div>
          </a>
        {% else %}
          <a href="{{ url_for('unfollow', username=user.username) }}">
            <div class="text-center min-w-40 bg-blue-light text-blue-dark rounded-md px-4 py-1 text-m">Unfollow</div>
          </a>
        {% endif %}
      </div>
    </div>
  </div>

  <hr class="my-6 text-gray-light">

  {% include "_pagination.html" %}

  <ul class="flex flex-col gap-4 my-4">
    {% for post in posts %}
      <li>
        {% include "_post.html" %}
      </li>
    {% endfor %}
  </ul>

  {% include "_pagination.html" %}
{% endblock %}
